<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>

<head>
    <% include ../includes/meta.ejs %>
    <!--/meta 作为公共模版分离出去-->
    <title>悉道设备云监控</title>
</head>

<body>
            <nav class="breadcrumb"><i class="Hui-iconfont">
                <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
            </nav>
            <div class="Hui-article">
                <article class="cl pd-20">
                    <form action="/device/project/equipProjectList" method="post" role="form">
                        <div class="text-c">
                            <span class="select-box inline">
                                <select name="equipmentId" class="select">
                                    <% for(var j=0; j<equipment.length; ++j) { %> 
                                            <option value="<%=equipment[j].id%>" <%if(equipment[j]!=null&&equipment[j].id==equipmentId){%> selected="selected" <%}%>> <%=equipment[j].name%>（<%=equipment[j].code%>） </option>
                                    <% } %>
                                </select>
                            </span>
                            <input type="text" name="keyword" id="keyword" value="<%if(keyword!=null){%><%=keyword%><%}%>" placeholder=" 任务名称、地址" style="width:250px" class="input-text">
                            <button name="" id="equipProjectListSubmit" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜任务</button>
                        </div>
                    </form>
                    <div class="cl pd-5 bg-1 bk-gray mt-20">
                        <span class="r">共有数据：<strong><%=total %></strong> 条</span>
                    </div>
                    <!-- <div class="cl pd-5 bg-1 bk-gray mt-20">
                        <span class="l">
                        <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
                        </span>
                        <span class="r">共有数据：<strong>***</strong> 条</span>
                    </div> -->
                    <div class="mt-20">
                            <table class="table table-border table-bordered table-bg table-sort">
                                    <thead>
                                        <tr class="text-c">
                                            <!-- <th width="25"><input type="checkbox" name="" value=""></th> -->
                                            <th width="120">任务名称</th>
                                            <th width="120">任务地址</th>
                                            <th width="120">方案详情</th>
                                            <th width="120">设计详情</th>
                                            <th width="120">生产设备详情</th>
                                            <th width="120">审核状态</th>
                                            <th width="120">任务进度</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <%if(project!=null&&project.length>0){
                                        <!-- <% -->
                                         for(var i=0; i<project.length; ++i) { %>  
                                        <tr class="text-c">
                                            <!-- <td><input name="" type="checkbox" value=""></td> -->
                                            <td><%=project[i].name %> </td>
                                            <td><%=project[i].address %> </td>
                                            <td>
                                                <%if(project[i].schemeId!=null){%>
                                                    <u style="cursor:pointer" class="text-primary" onclick="member_show('查看方案信息','/device/scheme/findById?schemeId=<%=project[i].schemeId%>','10001','360','400')">查看</u>
                                                <%}%>
                                                <%if(project[i].schemeId==null){%>
                                                    暂未绑定方案数据
                                                <%}%>
                                            </td>
                                            <td>
                                                <%if(project[i].designId!=null){%>
                                                    <u style="cursor:pointer" class="text-primary" onclick="member_show('查看设计信息','/device/design/findById?designId=<%=project[i].designId%>','10001','360','400')">查看</u>
                                                <%}%>
                                                <%if(project[i].designId==null){%>
                                                    暂未绑定设计数据
                                                <%}%>
                                            </td>
                                            <td>
                                                <%if(project[i].equipmentId!=null){%>
                                                    <!-- <u style="cursor:pointer" class="text-primary" onclick="member_show('查看设备信息','/equipment/findById?equipmentId=<%=project[i].equipmentId%>','10001','360','400')">查看</u> -->
                                                    <u style="cursor:pointer" class="text-primary" onclick="equipment_add('设备详情','/device/equipment/info?equipmentId=<%=project[i].equipmentId %>')">查看</u>
                                                <%}%>
                                                <%if(project[i].equipmentId==null){%>
                                                    暂未绑定设备数据
                                                <%}%>
                                            </td>
                                            <td>
                                                已审核
                                                <!-- <%=project[i].auditstate %>  -->
                                            </td>
                                            <td>
                                                <% for(var j=0; j<projectProgress.length; ++j) { %> 
                                                        <%if(projectProgress[j]!=null&&projectProgress[j].dictvalue==project[i].progress){%>
                                                            <%=projectProgress[j].dictleble %>
                                                        <%}%>
                                                <% } %>
                                                <!-- <%=project[i].progress %>  -->
                                            </td>
                                        </tr>
                                        <% }} %>  
                                    </tbody>
                                </table>
                    </div>
                    <div id="pagination" >
                        <div style="float: left;margin-top: 10px;">
                            第<span><%=pageNo%></span>页
                            ,
                            共<span><%=totalPage%></span>页 
                        </div>
                        <div style="float: right;margin-top: 10px;">
                            <a href="/device/project/equipProjectList?pageNo=<%=pageNo-1 %>&pageSize=<%=pageSize %>&keyword=<%=keyword%>&equipmentId=<%=equipmentId%>" onclick="return prevPage('<%=pageNo %>')">上一页</a>
                            <a href="/device/project/equipProjectList?pageNo=<%=pageNo+1 %>&pageSize=<%=pageSize %>&keyword=<%=keyword%>&equipmentId=<%=equipmentId%>" onclick="return nextPage('<%=pageNo %>','<%=totalPage %>')">下一页</a>
                        </div>
                    </div>
                </article>
            </div>
            
        <% include ../includes/footer.ejs %>
        <script type="text/javascript" >
        
        // $(document).ready(function() {
        //     var keyword = $("#keyword").val();
        //     if(keyword == ''){
        //         $("#equipProjectListSubmit").click();
        //     }
	    // });

        function member_show(title,url,id,w,h){
	        layer_show(title,url,w,h);
        }

        function project_fenfa(title,url,w,h){
            var index = layer.open({
                type: 2,
                title: title,
                content: url
            });
            layer.full(index);
        }

        function project_fenfaList(title,url,w,h){
            var index = layer.open({
                type: 2,
                title: title,
                content: url
            });
            layer.full(index);
        }

        </script>
   
</body>

</html>