<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <% include ../includes/meta.ejs %>
<!--/meta 作为公共模版分离出去-->
<title>悉道设备监控与分发云平台</title>
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" method="post" id="form-equipment-add" action="/equipment/addEquipment">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>设备名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="<%if(equipment!=null){%><%=equipment.name%><%}%>" placeholder="" id="" name="name">
                <input type="hidden" class="input-text" value="<%if(equipment!=null){%><%=equipment.id%><%}%>" name="equipmentId">
			</div>
        </div>
        <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>设备编号：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="<%if(equipment!=null){%><%=equipment.code%><%}%>" placeholder="" id="" name="code">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">保修期：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="<%if(equipment!=null){%><%=equipment.warrantyperiod%><%}%>" placeholder="" id="" name="warrantyperiod">
			</div>
        </div>
        <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">购买人：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="<%if(equipment!=null){%><%=equipment.customer%><%}%>" placeholder="" id="" name="customer">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>状态：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="state" class="select">
					<option value="0" <%if(equipment!=null&&equipment.state=='0'){%> selected="selected" <%}%>>已出厂</option>
					<option value="1" <%if(equipment!=null&&equipment.state=='1'){%> selected="selected" <%}%>>维修中</option>
					<option value="11" <%if(equipment!=null&&equipment.state=='11'){%> selected="selected" <%}%>>正常运行</option>
					<option value="12" <%if(equipment!=null&&equipment.state=='12'){%> selected="selected" <%}%>>已报修</option>
				</select>
				</span> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>运行状态：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="workstate" class="select">
					<option value="0" <%if(equipment!=null&&equipment.workstate=='0'){%> selected="selected" <%}%>>满负荷</option>
					<option value="1" <%if(equipment!=null&&equipment.workstate=='1'){%> selected="selected" <%}%>>空闲</option>
					<option value="2" <%if(equipment!=null&&equipment.workstate=='2'){%> selected="selected" <%}%>>饱和</option>
				</select>
				</span> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">排序值：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="<%if(equipment!=null){%><%=equipment.priority%><%}%>" onkeyup="value=value.replace(/[^\d]/g,'') " id="" name="priority">
			</div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">购买日期：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="buytime" value="<%if(equipment!=null){%><%=moment(equipment.buytime).format('YYYY-MM-DD HH:mm:ss')%><%}%>" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" id="datemin" class="input-text Wdate">
			</div>
		</div>
		
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button onClick="equipment_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交审核</button>
			</div>
		</div>
	</form>
</article>

<% include ../includes/footer.ejs %>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="../../lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="../../lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="../../lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="../../lib/jquery.validation/1.14.0/messages_zh.js"></script>   
<script type="text/javascript" src="../../lib/webuploader/0.1.5/webuploader.min.js"></script> 

</body>
</html>