<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>设备云监控页面</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link href="../css/bootstrap.min.css" type="text/css" rel="stylesheet" media="screen">
    <style type="text/css">
        .sidebar {
            position: fixed;
            top: 51px;
            background-color: #f5f5f5;
            border-right: 1px solid #eee;
            height:100%;
        }
        .main {
          padding:20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">设备</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
				    <li class="active"><a href="/equipment/list">设备列表<span class="sr-only">(current)</span></a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h3 class="page-header">设备列表</h3>
                <a href="/equipment/add">创建设备</a>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>设备名称</th>
                                <th>设备编号</th>
                                <th>保修期</th>
                                <th>购买时间</th>
                                <th>购买人</th>
                                <th>状态</th>
                                <th>运行状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% for(var i=0; i<equipment.length; ++i) { %>  
                            <tr>
                                  <td><%=equipment[i].name %> </td>
                                  <td><%=equipment[i].code %> </td>
                                  <td><%=equipment[i].warrantyperiod %> </td>
                                  <td><%=equipment[i].buytime %> </td>
                                  <td><%=equipment[i].customer %> </td>
                                  <td><%=equipment[i].state %> </td>
                                  <td><%=equipment[i].workstate %> </td>
                                  <td>    </td>
                            </tr>
                        <% } %>  
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>