<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>

<head>
    <% include ../includes/meta.ejs %>
    <!-- <link rel="stylesheet" type="text/css" href="../../common/reset.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../../common/common.css" media="screen"> -->
    <link rel="stylesheet" type="text/css" href="../../common/pagination.css" media="screen">
    <!--/meta 作为公共模版分离出去-->
    <title>悉道设备监控与分发云平台</title>
</head>

<body>
        <nav class="breadcrumb"><i class="Hui-iconfont">
            <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
        </nav>
        <div class="Hui-article">
            <article class="cl pd-20">
                <form class="form form-horizontal" method="post" action="/equipment/list" >
                    <div class="text-c">
                            <span class="select-box inline">
                                <select name="equipmenttype" class="select">
                                    <% for(var j=0; j<dictionary.length; ++j) { %> 
                                            <option value="<%=dictionary[j].dictvalue%>" <%if(dictionary[j]!=null&&dictionary[j].dictvalue==equipmenttype){%> selected="selected" <%}%>> <%=dictionary[j].dictleble%> </option>
                                    <% } %>
                                </select>
                            </span>
                        <input type="text" name="keyword" id="" value="<%if(keyword!=null&&keyword!='undefined'){%><%=keyword%><%}%>" placeholder=" 设备名称、设备编码、所在地" style="width:250px" class="input-text">
                        <input type="hidden" name="projectId" id="" value="<%if(projectId!=null){%><%=projectId%><%}%>" >
                        <input type="hidden" name="currentPage" value="<%=currentPage%>">
                        <input type="hidden" name="countPerPage" value="<%=countPerPage%>">
                        <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜设备</button>
                    </div>
                </form>
                <%if(projectId==null || projectId==''){%>
                    <div class="cl pd-5 bg-1 bk-gray mt-20">
                        <span class="l">
                        <a class="btn btn-primary radius" data-title="添加设备" _href="/equipment/add" onclick="show_add('添加设备','/equipment/add')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加设备</a>
                        </span>
                        <span class="r">共有数据：<strong><%=total%></strong> 条</span>
                    </div>
                <%}%>
                <div class="mt-20">
                        <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
                                <thead>
                                    <tr class="text-c">
                                        <!-- <th width="25"><input type="checkbox" name="" value=""></th> -->
                                        <th width="120">设备名称</th>
                                        <th width="120">设备编号</th>
                                        <th width="120">设备类型</th>
                                        <th width="120">加盟商</th>
                                        <th width="120">保修期</th>
                                        <th width="120">购买时间</th>
                                        <th width="120">购买者</th>
                                        <th width="120">设备所在地</th>
                                        <th width="80">设备状态</th>
                                        <th width="80">运行状态</th>
                                        <th width="100">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i=0; i<equipment.length; ++i) { %>  
                                    <tr class="text-c">
                                        <!-- <td><input name="" type="checkbox" value=""></td> -->
                                        <td>
                                            <a style="text-decoration:none;color:red" _href="/equipment/info" onclick="equipment_add('设备详情','/equipment/info?equipmentId=<%=equipment[i].id %>')" href="javascript:;" title="设备详情"><%=equipment[i].name %> </a>
                                            
                                        </td>
                                        <td><%=equipment[i].code %> </td>

                                        <td>
                                            <% for(var j=0; j<dictionary.length; ++j) { %> 
                                                    <%if(dictionary[j]!=null&&dictionary[j].dictvalue==equipment[i].equipmenttype){%>
                                                        <%=dictionary[j].dictleble %>
                                                    <%}%>
                                            <% } %> 
                                        </td>
                                        <td>

                                            <% for(var k=0; k<adminInfo.length; ++k) { %> 
                                                    <%if(adminInfo[k]!=null&&adminInfo[k].id==equipment[k].jiameng){%>
                                                        <%=adminInfo[k].adminname %>
                                                    <%}%>
                                            <% } %> 

                                            <!-- <%=equipment[i].jiameng %> -->
                                        </td>

                                        <td><%=equipment[i].warrantyperiod %> </td>
                                        <td><%= moment(equipment[i].buytime).format('YYYY-MM-DD ')  %> </td>
                                        <td><%=equipment[i].customer %> </td>
                                        <td><%=equipment[i].location %> </td>
                                        <td>
                                                <%if(equipment[i]!=null&&equipment[i].state=='0'){%>
                                                    已出厂
                                                <%}%>
                                                <%if(equipment[i]!=null&&equipment[i].state=='1'){%>
                                                    维修中
                                                <%}%>
                                                <%if(equipment[i]!=null&&equipment[i].state=='2'){%>
                                                    正常运行
                                                <%}%>
                                                <%if(equipment[i]!=null&&equipment[i].state=='3'){%>
                                                    已报修
                                                <%}%>
                                        </td>
                                        <td>
                                                <%if(equipment[i]!=null&&equipment[i].workstate=='0'){%>
                                                    正常
                                                <%}%>
                                                <%if(equipment[i]!=null&&equipment[i].workstate=='1'){%>
                                                    材料不足
                                                <%}%>
                                                <%if(equipment[i]!=null&&equipment[i].workstate=='2'){%>
                                                    材料用尽
                                                <%}%>
                                                <%if(equipment[i]!=null&&equipment[i].workstate=='3'){%>
                                                    切刀使用期限到
                                                <%}%>
                                                <%if(equipment[i]!=null&&equipment[i].workstate=='4'){%>
                                                    润滑油不足
                                                <%}%>
                                                <%if(equipment[i]!=null&&equipment[i].workstate=='5'){%>
                                                    伺服无使能
                                                <%}%>
                                                <%if(equipment[i]!=null&&equipment[i].workstate=='6'){%>
                                                    伺服故障
                                                <%}%>
                                                <%if(equipment[i]!=null&&equipment[i].workstate=='7'){%>
                                                    伺服温度过高
                                                <%}%>
                                                <%if(equipment[i]!=null&&equipment[i].workstate=='8'){%>
                                                    油泵使用期限到
                                                <%}%>
                                                <%if(equipment[i]!=null&&equipment[i].workstate=='9'){%>
                                                    油泵停止
                                                <%}%>
                                                <%if(equipment[i]!=null&&equipment[i].workstate=='10'){%>
                                                    油压过载
                                                <%}%>
                                                <%if(equipment[i]!=null&&equipment[i].workstate=='11'){%>
                                                    急停按下油泵停止
                                                <%}%>
                                                <%if(equipment[i]!=null&&equipment[i].workstate=='12'){%>
                                                    油压过低
                                                <%}%>
                                                <%if(equipment[i]!=null&&equipment[i].workstate=='13'){%>
                                                    油温过高
                                                <%}%>
                                        </td>
                                        <td class="f-14 product-brand-manage">
                                            <%if(projectId==null || projectId==""){%>
                                            <a style="text-decoration:none" onClick="show_add('编辑设备','/equipment/add?equipmentId=<%=equipment[i].id %>')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> 
                                            <!-- <a style="text-decoration:none" class="ml-5" onClick="list_del(this,'/equipment/delete?equipmentId=<%=equipment[i].id %>')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a> -->
                                            <%}%>
                                            <%if(projectId!=null && projectId!=''){%>
                                                <a style="text-decoration:none" class="ml-5" onClick="equipment_fenpei(this,'<%=equipment[i].id %>','<%=projectId %>')" href="javascript:;" title="分配该设备"><i class="Hui-iconfont">&#xe63f;</i></a>
                                            <%}%>  
                                        </td>
                                    </tr>
                                    <% } %>  
                                </tbody>
                            </table>
                </div>
                <%if(projectId!=null && projectId!=''){%>
                <div id="pagination" style="float: right;margin-top: 10px;">
                    共<span><%=totalPage%></span>页 &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/equipment/list?currentPage=<%=currentPage-1 %>&countPerPage=<%=countPerPage %>&keyword=<%=keyword%>&projectId=<%=projectId%>" onclick="return prevPage('<%=currentPage %>')">上一页</a>
                    <a href="/equipment/list?currentPage=<%=currentPage+1 %>&countPerPage=<%=countPerPage %>&keyword=<%=keyword%>&projectId=<%=projectId%>" onclick="return nextPage('<%=currentPage %>','<%=totalPage %>')">下一页</a>
                </div>
                <%}%>
                <%if(projectId==null || projectId==""){%>
                    <div id="pagination" style="float: right;margin-top: 10px;">
                        共<span><%=totalPage%></span>页 &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/equipment/list?currentPage=<%=currentPage-1 %>&countPerPage=<%=countPerPage %>&keyword=<%=keyword%>" onclick="return prevPage('<%=currentPage %>')">上一页</a>
                        <a href="/equipment/list?currentPage=<%=currentPage+1 %>&countPerPage=<%=countPerPage %>&keyword=<%=keyword%>" onclick="return nextPage('<%=currentPage %>','<%=totalPage %>')">下一页</a>
                    </div>
                <%}%>
            </article>
        </div>
        <% include ../includes/footer.ejs %>
        <script type="text/javascript" >
        

        function equipment_fenpei(obj,id,idw){
            layer.confirm('确认要分配该设备吗？',function(index){
                $.ajax({
                    type: 'GET',
                    url: '/project/fenpei?projectId='+idw+'&equipmentId='+id,
                    dataType: 'json',
                    success: function(data){
                        // $(obj).parents("tr").remove();
                        layer.msg('已完成!',{icon:1,time:1000});
                        parent.window.location.href='/project/list';
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭弹出层
                        parent.layer.close(index);
                    },
                    error:function(data) {
                        console.log(data.msg);
                    },
                });		
            });
        }

        </script>
</body>

</html>