<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <% include ../includes/meta.ejs %>
<!--/meta 作为公共模版分离出去-->
<title>悉道设备监控与分发云平台</title>
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" method="post" id="form-project-add" action="/project/addProject" >
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>任务名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="required input-text" onkeyup="value=value.replace(/#/g,'')" value="<%if(project!=null){%><%=project.name%><%}%>" <%if(project!=null&&project.id!=null){%> readonly="readonly" <%}%> id="projectName" name="projectName">
				<input type="hidden" class="input-text" value="<%if(project!=null){%><%=project.id%><%}%>" name="projectId">
				<input type="hidden" value="<%if(project!=null){%><%=project.name%><%}%>" id="oldProjectName" name="oldProjectName">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>任务地址：</label>
			<div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="required input-text" onkeyup="value=value.replace(/#/g,'')" value="<%if(project!=null){%><%=project.address%><%}%>" placeholder="" id="address" name="address">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>对应方案：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="schemeId" class="required select">
					<% for(var i=0; i<scheme.length; ++i) { %>  
						<option value="<%=scheme[i].id %>" <%if(scheme!=null&&project!=null&&scheme[i].id == project.schemeId){%> selected="selected" <%}%>><%=scheme[i].name %></option>
					<% } %>
				</select>
				</span> </div>
		</div>
		
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button id="project_save_submit" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
			</div>
		</div>
	</form>
</article>

<% include ../includes/footer.ejs %>
<script type="text/javascript" src="../../lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="../../lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="../../lib/jquery.validation/1.14.0/messages_zh.js"></script>  
<script type="text/javascript" >
	$(document).ready(function() {
		var projectName = $("#projectName").val();
		$("#projectName").focus();
		$("#form-project-add").validate({
			focusInvalid: false,
			rules : {
					projectName : {
							remote : "/project/checkName?oldProjectName=" + encodeURIComponent(projectName)
						}
					},
					messages : {
						projectName : {
							remote : "该任务名称已存在"
						}
					},
			submitHandler: function(form){  
				$(form).ajaxSubmit(function(data){
					parent.window.location.href='/project/projectList';
					var index = parent.layer.getFrameIndex(window.name);
					//关闭弹出层
					parent.layer.close(index);
				}); 
			}
		});
	});
	</script>
</body>
</html>